<% content_for :head do %>
   订单用户信息
<% end %>

<div>
  <header>
    <h3><%= @year %>年有过成功订单的用户信息</h3>
  </header>

  <div>
    <% if @results.present? %>
    <table class="table table-bordered table-hover">
      <tr>
        <th>用户ID</th>
        <th>姓名</th>
        <th>最近成功订单ID</th>
        <th>最近成功订单日期</th>
      </tr>
      <% @results.each do|result| %>
         <tr>
           <td><%= result["user_id"] %></td>
           <td><%= result["user_name"] %></td>
           <td><%= link_to result["trade_id"], "http://#{SITE_DOMAIN_CMS}/auction/manage/trades/#{result['trade_id']}", :target => "_blank" %></td>
           <td><%= shown_date(result["trade_created_at"]) %></td>
         </tr>
      <% end %>
    </table>
        <%= will_paginate @results, :previous_label=> '上一页', :next_label=> '下一页' %>
    <% else %>
      <p class="muted">没有相关用户！</p>
    <% end %>
  </div>
</div>