<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :姓名 %>
    <%= f.text_field :name,:style => "width:214px;" %>
  </div>
  <div class="field">
    <%= f.label :邮箱 %>
    <div class="input-append"><%= f.text_field :email,:class => "span2" %><span class="add-on">@ihaveu.net</span></div>
  </div>
  <div class="actions">
    <%= f.submit "创建用户", :class => "btn"%>
  </div>
<% end %>
