<% content_for :head do %>
   订单用户信息
<% end %>

<div>

  <header>
    <h3><%= @year %>年有过成功订单的用户信息</h3>
  </header>

  <div>
    <% if @users.present? %>
    <table class="table table-bordered table-hover">
      <tr>
        <th>用户ID</th>
        <th>姓名</th>
        <th>最近成功订单ID</th>
        <th>最近成功订单时间</th>
      </tr>
      <% @users.each do|user| %>
         <tr>
           <td><%= user.id %></td>
           <td><%= user.name %></td>
           <td><%= link_to user.lt_trade_id, "http://#{SITE_DOMAIN_CMS}/auction/manage/trades/#{user.lt_trade_id}", :target => "_blank" %></td>
           <td><%= shown_time(user.lt_trade_date) %></td>
         </tr>
      <% end %>
    </table>
        <%= will_paginate @users, :previous_label=> '上一页', :next_label=> '下一页' %>
    <% else %>
      <p class="muted">没有相关用户！</p>
    <% end %>
  </div>

</div>