<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:head) || "TinyExample" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container" style="width: 940px;">
				<a class="brand" href="/">TinyExample</a>
				<div class="nav-collapse subnav-collapse">
			    <ul id="system_menu" class="nav nav-pills large-font-size">
                  <li><a href="/auction/users">订单用户</a></li>
			    </ul>

				<ul class="nav pull-right">
                  <%- if session[:id].present? -%>
                      <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= session[:name] %>
                          <b class="caret" style="border-top-color: #595959;border-bottom-color: #595959;"></b>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 120px;">
                          <li><a href="/users">用户列表</a></li>
                          <li class="divider"></li>
                          <li><a href="/logout">退出</a></li>
                        </ul>
                      </li>
                  <% end %>
				</ul>





				</div>
			</div>
		</div>
	</div>

  <div class="container" style="margin-top:60px;min-height:760px;">
      <%- if flash[:notice].present? -%>
        <div class="warning"><%=raw flash[:notice] %></div>
      <%- end -%>
      <%= yield %>   
    </div>
  </div>

  <div class="clear"></div>
  <footer class="footer">
    <div class="container" style="margin-top: 110px;">
      <p align="center">Powered by 基因团队 © 2013</p>
    </div>
  </footer>
</body>
</html>
